<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.userMapper">

    <resultMap id="BaseResultMap" type="generator.domain.user">
            <id property="id" column="id" />
            <result property="userAccount" column="user_account" />
            <result property="userPassword" column="user_password" />
            <result property="unionId" column="union_id" />
            <result property="mpOpenId" column="mp_open_id" />
            <result property="userName" column="user_name" />
            <result property="userAvatar" column="user_avatar" />
            <result property="userProfile" column="user_profile" />
            <result property="userRole" column="user_role" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_account,user_password,union_id,mp_open_id,user_name,
        user_avatar,user_profile,user_role,create_time,update_time,
        is_delete
    </sql>
</mapper>
