<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.QuestionSetItemMapper">

    <resultMap id="BaseResultMap" type="generator.domain.QuestionSetItem">
            <id property="id" column="id" />
            <result property="questionSetId" column="question_set_id" />
            <result property="questionId" column="question_id" />
            <result property="sortOrder" column="sort_order" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,question_set_id,question_id,sort_order,create_time,update_time,
        is_delete
    </sql>
</mapper>
